<html>
	<head>
		<meta charset="utf-8">
		<title>Supplemental</title>

		<link rel="stylesheet" type="text/css" href="css/main.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

		<script type="text/javascript">
		
		</script>
	</head>
	<body>
		<div id="content">
			<div id="question">
				<button onclick="window.print();">Print this Page</button>
				<h1>[Title]</h1>
				<h2>[Subtitle]</h2>
				[Insert Instructions Here]
			</div>
			<div id="wrapper">
				<div id="outer_calc">
					<div id="calculations">
						<div id="categories">
							<div></div>
							<div id="assets">Assets</div>
							<div class="signs">=</div>
							<div id="liabilities">Liabilities</div>
							<div class="signs">+</div>
							<div id="equity">Stockholders' Equity</div>
						</div>
						<div id="legends">
							<div class="title"><strong>Transactions:</strong></div>
							<div class="title" >Cash</div>
							<div class="title signs">+</div>
							<div class="title">Accounts Receivable</div>
							<div class="title signs">+</div>
							<div class="title">Equipment</div>
							<div class="title signs">=</div>
							<div class="title">Accounts Payable</div>
							<div class="title signs">+</div>
							<div class="title">Common Stock</div>
							<div class="title signs">+</div>
							<div class="title">Revenue</div>
							<div class="title signs">-</div>
							<div class="title">Expenses</div>
						</div>
						<div class="beg_balance">
							<div class="beg_balance_title">Beg. Bal.:</div>
							<div class="cash" ></div>
							<div class="acounts_receivable"></div>
							<div class="equipment"></div>
							<div class="accounts_payable"></div>
							<div class="commons_stock"></div>
							<div class="revenue"></div>
							<div class="expenses"></div>
						</div>
						<div id="1" class="row">
							<div class="add_row"></div>
							<div class="cash"><input type="text"></div>
							<div class="acounts_receivable"><input type="text"></div>
							<div class="equipment"><input type="text"></div>
							<div class="accounts_payable"><input type="text"></div>
							<div class="commons_stock"><input type="text"></div>
							<div class="revenue"><input type="text"></div>
							<div class="expenses"><input type="text"></div>
						</div>
						<div style="clear:both;"></div>
					</div>
					<div class ="last_row">
						<div class="last_row_title">&nbsp;</div>  
						<div class="cash"></div> <div class="sign">+</div> 
						<div class="acounts_receivable"></div> <div class="sign">+</div>
						<div class="equipment"></div> <div class="sign">=</div>
						<div class="accounts_payable"></div> <div class="sign">+</div>
						<div class="commons_stock"></div> <div class="sign">+</div>
						<div class="revenue"></div> <div class="sign">-</div>
						<div class="expenses"></div>
					</div>
					<div class ="last_row_totals">
						<span class="total_left"></span> <span class="sign"> = </span> 
						<span class="total_right"></span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>