body {
	font-family: Arial, Helvitca, sans-serif;
	background-color: #999;
	font-size: 10pt;
	padding: 9px;
}

#content {
	background-color: #FFF;
	margin: 0px auto;
	box-shadow: 2px 2px 3px #000;
	padding: 0.1em;
}

#question {
	padding: 1.0em;
}

#container {
	clear:both;
}
.add_row, #trans_date, #description, #values {
	float:left;
	padding:10px;
}
.add_row {
	width:100px;
	text-align: right;
}
.add_row button {
	margin-right: 10px;
}
#trans_date {

}

.row {
	padding-left: 50px;
}

#description select:nth-child(1) {
	width: 250px;
}
#description select:nth-child(3) {
	margin-left:20px;
	width: 230px;
}

#account input[type=text] {
	width:60px;
	height: 30px;
	line-height: 30px;
}


.bad {
	font-weight: bold !important;;
	background-color: #FFCCCC !important;
	border:1px solid #660000 !important;;
	color: #660000 !important;;
}

.good {
	font-weight: bold !important;;
	background-color: #CCFFCC !important;;
	border:1px solid #006600 !important;;
	color: #006600 !important;;
}

#legends .title  {
	float: left;
	padding-left: 80px;
	width:90px;
}

.amount {
 	margin-right: 30px !important;
}

#legends {
	margin-left:100px;
}

#debit.title{
	padding-left:125px !important;
}

#credit.title{
	padding-left: 5px !important;
}

button {
	padding: 0.3em;
	margin: 0.5em 0.5em;
	border: 1px solid black;
	border-radius: 2px;
	background-color: lightgray;
}

button:hover {
	text-shadow: 0px 0px 3px gray;
}

button:active {
	text-shadow: none;
	box-shadow: inset 1px 1px 3px 0px gray;
}

button.printBtn {
	float: right;
}

#problems h3 {
	margin: 0px auto;
	text-align: center;
}