body {
	font-family: Arial, Helvitca, sans-serif;
	background-color: #999;
	font-size: 10pt;
	padding: 9px;
}

#content {
	background-color: #FFF;
	margin: 0px auto;
	box-shadow: 2px 2px 3px #000;
	padding: 0.1em;
}

#question {
	padding: 1.0em;
}

#container {
	clear:both;
}
.add_row, #trans_date, #description, #values {
	float:left;
	padding:10px;
}
.add_row {
	width:100px;
	text-align: right;
}
.add_row button {
	margin-right: 10px;
}
#trans_date {

}

#description select:nth-child(1) {
	width: 250px;
}
#description select:nth-child(3) {
	margin-left:20px;
	width: 230px;
}

#account input[type=text] {
	width:60px;
	height: 30px;
	line-height: 30px;
}

#legends .title  {
	float: left;
	padding-left: 80px;
	width:90px;
}

.amount {
 	margin-right: 30px !important;
}

#legends {
	margin-left:100px;
}

#debit.title{
	padding-left:125px !important;
}

#credit.title{
	padding-left: 5px !important;
}

#problems h3 {
	margin: 0px auto;
	text-align: center;
}


button.printBtn {
	float: right;
	margin-right: 0.5em;
	margin-top: 0.5em;
}

.bad {
	font-weight: bold !important;
	background-color: #FFCCCC !important;
	border:1px solid #660000 !important;
	color: #660000 !important;
}

.good {
	font-weight: bold !important;
	background-color: #CCFFCC !important;
	border:1px solid #006600 !important;
	color: #006600 !important;
}

/** Style for New Journal **/
table#journalTable {
	margin: 0 auto;
	border: 1px solid black;
}

table#journalTable th {
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: lightgreen;
	font-weight: bold;
	font-size: 1.4em;
	padding: 0.3em;
}

table#journalTable td {
	padding: 0.2em;
	border: 1px solid black;
}

input.debit,
input.credit,
input.date {
    width: 7em;
}

input.date {
	text-align: center;
}

select.descriptionTwo {
    margin-left: 4em;
}

td.journalButton {
	text-align: center;
	background-color: lightgreen;
}

.onTop {
	vertical-align: top;
}

.onBottom {
	vertical-align: bottom;
}

div.tdDividerBottom {
	padding-top: 2px;
	/* This forces the lower boxes to show on the same line as the second description */
	margin-top: 2.2em;
}

/* Fixes an issue with padding in a table */
.row {
	padding-left: 20px;
}


@media print {
	body {
		margin: 0;
	}

	#content {
		width: 100%;
		height: 100%;
		box-shadow: none;
	}

	button.printBtn {
		display: none;
	}

	td.journalButton {
		display: none;
	}
}


/** Style for Second Journal **/
table#journalTable2 {
	margin: 0 auto;
	border: 1px solid black;
}

table#journalTable2 th {
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: lightgreen;
	font-weight: bold;
	font-size: 1.4em;
	padding: 0.3em;
}

table#journalTable2 td {
	padding: 0.2em;
	border: 1px solid black;
}

input.type,
input.before,
input.after {
    width: 7em;
}

input.date {
	text-align: center;
}

select.descriptionTwo {
    margin-left: 4em;
}

td.journalButton {
	text-align: center;
	background-color: lightgreen;
}

.onTop {
	vertical-align: top;
}

.onBottom {
	vertical-align: bottom;
}

div.tdDividerBottom {
	padding-top: 2px;
	/* This forces the lower boxes to show on the same line as the second description */
	margin-top: 2.2em;
}

/* Fixes an issue with padding in a table */
.row {
	padding-left: 20px;
}


@media print {
	body {
		margin: 0;
	}

	#content {
		width: 100%;
		height: 100%;
		box-shadow: none;
	}

	button.printBtn {
		display: none;
	}

	td.journalButton {
		display: none;
	}
}
