body{

}
.add_row, #trans_date, #description, #values {
	float:left;
	padding:10px;
}
.add_row {
	width:100px;
	text-align: right;
}
.add_row button {
	margin-right: 10px;
}
#trans_date {

}
#trans_date input[type=text] {
	width:90px;
	height: 30px;
	line-height: 30px;
}
.row {
	padding-left: 50px;
}

#description select:nth-child(1) {
	width: 250px;
}
#description select:nth-child(3) {
	margin-left:20px;
	width: 230px;
}
#values {
	font-size: 140%;
	text-align: right;
}
#values input[type=text] {
	width:60px;
	height: 30px;
	line-height: 30px;
}
#values input[type=text]:nth-child(1) {
	margin-right:70px;
}