body {
	font-family: Arial, Helvitca, sans-serif !important;
	background-color: #999 !important;
	margin:8px !important;
}
h1 {
	font-size: 26px !important;
}

h2 {
	font-size: 19px !important;
}

#question {
	/*width:880px;*/
	padding:20px;
}
#content {
	/*width:920px;*/
	font-size: 13px;
	background-color: #FFF;
	margin:0px auto;
}

#legends {
	width:735px;
	margin:0px auto;
	padding:0px 0px;
}

#container {
	width:735px;
	overflow: auto;
	margin:0px auto;
	padding:0px 0px;
	border:1px dashed #666;
}

#transactions{
	margin-left: 20px;
}
.add_row, #trans_date, #description, #values {
	float:left;
	padding:10px;
}
.add_row {
	width:100px;
	text-align: right;
}
.add_row button {
	margin-right: 10px;
}
#trans_date {

}
#trans_date input[type=text] {
	width:90px;
	height: 30px;
	line-height: 30px;
}
.row {
	padding-left: 50px;
}

#description select:nth-child(1) {
	width: 250px;
}
#description select:nth-child(3) {
	margin-left:20px;
	width: 230px;
}
#values {
	font-size: 140%;
	text-align: right;
}
#values input[type=text] {
	width:60px;
	height: 30px;
	line-height: 30px;
}
#values input[type=text]:nth-child(1) {
	margin-right:70px;
}

.bad {
	font-weight: bold !important;;
	background-color: #FFCCCC !important;
	border:1px solid #660000 !important;;
	color: #660000 !important;;
}

.good {
	font-weight: bold !important;;
	background-color: #CCFFCC !important;;
	border:1px solid #006600 !important;;
	color: #006600 !important;;
}

#legends .title  {
	float: left;
	padding-left: 80px;
	width:90px;
}

#debit.title{
	padding-left:125px !important;
}

#credit.title{
	padding-left: 5px !important;
