body {
	font-family: Arial, Helvitca, sans-serif;
	background-color: #999;
}

#question {
	/*width:880px;*/
	padding:20px;
}
#content {
	/*width:920px;*/
	min-width:800px;
	font-size: 13px;
	background-color: #FFF;
	margin:0px auto;
}
#scroll_area {
	overflow:scroll;
	clear:both;
}
#calculations{
	width:1284px;
	overflow: auto;
	margin:0px auto;
	padding:0px 0px;
	border:1px dashed #666;
}

div.beg_balance div, 
div.row div {
	float: left;
	padding-left: 10px;
	width:100px;
	
}
div.beg_balance {
	float: none;
	clear:both;
}
.beg_balance_title, .last_row_title {
	font-weight: bolder;
}

#transaction{
	float: left;
	padding:16.5px 10px;
	width:128px;
	border:1px solid #666;
	border-right: 0px;
	height: 20px;
	background-color:#99E075;

}
#AccountsDeb{
	font-weight: bold;
	float: left;
	padding:3px 10px;
	width:540px;
	border:1px solid #666;
	border-right: 0px;
	height: 20px;
	background-color:#8DC272;
}

#AccountsCred{
	font-weight: bold;
	float: left;
	padding:3px 50px;
	width:472px;
	border:1px solid #666;
	height: 20px;
	background-color:#8DC272;
}
#legends .title1{
	/*Basic Type 1*/
	font-weight: bold;
	float: left;
	padding:3px 38px;
	border:1px solid #666;
	border-right: 0px;
	border-top: 0px;
	height: 20px;
	background-color:#99E075;
}
#legends .title2{
	/*Specific Amount 1*/
	font-weight: bold;
	float: left;
	padding:3px 20px;
	border:1px solid #666;
	border-right: 0px;
	border-top: 0px;
	height: 20px;
	background-color:#99E075;
}
#legends .title3{
	/*Effect 1*/
	font-weight: bold;
	float: left;
	padding:3px 45px;
	border:1px solid #666;
	border-right: 0px;
	border-top: 0px;
	height: 20px;
	background-color:#99E075;
}
#legends .title4{
	/*Normal Balance 1*/
	font-weight: bold;
	float: left;
	padding:3px 19.5px;
	border:1px solid #666;
	border-right: 0px;
	border-top: 0px;
	height: 20px;
	background-color:#99E075;
}
#legends .title5{
	/*Basic Type 2*/
	font-weight: bold;
	float: left;
	padding:3px 33px;
	border:1px solid #666;
	border-right: 0px;
	border-top: 0px;
	height: 20px;
	background-color:#99E075;
}
#legends .title6{
	/* Specific Amount 2*/
	font-weight: bold;
	float: left;
	padding:3px 27px;
	border:1px solid #666;
	border-right: 0px;
	border-top: 0px;
	height: 20px;
	background-color:#99E075;
}
#legends .title7{
	/*Effect 2*/
	font-weight: bold;
	float: left;
	padding:3px 42.5px;
	border:1px solid #666;
	border-right: 0px;
	border-top: 0px;
	height: 20px;
	background-color:#99E075;
}
#legends .title8{
	/*Normal Balance 2*/
	font-weight: bold;
	float: left;
	padding:3px 27px;
	border:1px solid #666;
	border-top: 0px;
	height: 20px;
	background-color:#99E075;
}

.exRow {
	clear:both;
	padding-top: 18px;
	border:1px solid #666;
	border-top: 0px;
	padding-left: 110px;
	padding-bottom: 20px;
}

.row {
	clear:both;
	padding-top: 18px;
	border:1px solid #666;
	border-top: 0px;
}
input {
	width: 90px;
}
.num {
	float:right;
}

div.last_row {
	clear: both;
	margin-left: 32px;
	padding-top: 10px;
}
div.last_row div {
	float: left;
	padding-left:10px;
	width: 78px;
}

.row {
	padding-bottom: 20px;
}

.bad {
	background-color: #FFCCCC;
	border:1px solid #660000;
	color: #660000;
}

.good {
	background-color: #CCFFCC;
	border:1px solid #006600;
	color: #006600;
}